@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Nanum+Pen+Script&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-font: 'Inter';
    --bg-color: whitesmoke;
    --accent-color: dodgerblue;
    --font-color: rgb(24, 23, 23);
    --accent-font-color: rgb(255, 255, 255);

}

body {
    background-color: var(--bg-color);
    font-family: var(--main-font);
    color: var(--font-color);
    font-size: 18px;
}

/* BODY STYLES */
.title {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    font-size: 1.75rem;
}

.main-container {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

input,
label,
button {
    font-size: 100%;
    font-family: inherit;
    appearance: none;
}

input {
    border: 1px solid rgb(192, 192, 192);
    padding: 0.3rem;
    transition: 0.3s;
    border-radius: 10px;
}

input:focus {
    outline: none !important;
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px #70b3fc;
}

button {
    background-color: dodgerblue;
    color: var(--accent-font-color);
    font-size: 0.8rem;
    border-radius: 0.7rem;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(19, 55, 92);
}

.input-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    gap: 1rem;
}

.player-input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.player-input>div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.play-area {
    display: grid;
    grid-template-rows: 2 1fr;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    width: 300px;
}

.cell {
    display: flex;
    font-family: 'Nanum Pen Script';
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    cursor: pointer;
    font-size: 50px;
}

.game-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.play-btn-wrapper {
    display: flex;
    flex: 1;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.status-text {
    display: flex;
    flex: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto
}

/* FOOTER STYLES */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}