@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-font: 'Inter';
}

body {
    font-family: var(--main-font);
    font-size: 18px;
}

/* BODY STYLES */
.title {
    margin: auto;
}

.main-container {
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

.play-area {
    display: grid;
    grid-template-rows: 2 1fr;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: auto;
    width: 300px;
    gap: 2px;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    border: 2px solid;
    cursor: pointer;
    font-size: 50px;
}

.play-button-wrapper {
    margin: auto;
}

.status-text {
    margin: auto;
}

/* FOOTER STYLES */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px;
    text-align: center;
}